ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.09);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #61BD6D;
}

.active {
    background-color: #61BD6D;
}

li:last-child {
    border-right: none;
}