@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body { 
  font-family: 'Roboto', sans-serif;
  color: #61BD6D;
}

/* STRUCTURE */

#pagewrap {
	padding: 5px;
	width: 600px;
	margin: 20px auto;
}
header {
	height: 150px;
	padding: 0 15px;
}
#content {
	width: 588px;
	float: left;
	padding: 5px 15px;
}

footer {
	clear: both;
	padding: 0 15px;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
	
	#pagewrap {
		width: 94%;
	}
	#content {
		width: 41%;
		padding: 1% 4%;
	}

	header, footer {
		padding: 1% 4%;
	}
}

/* for 700px or less */
@media screen and (max-width: 600px) {

	#content {
		width: auto;
		float: none;
	}
}

/* for 480px or less */
@media screen and (max-width: 480px) {

	header {
		height: auto;
	}
	h1 {
		font-size: 2em;
	}
}

/* if i want to change the box color do background: #f8f8f8*/

header, {
	margin-bottom: 5px;
}

#pagewrap, header, #content, footer {
	border: solid 1px #f8f8f8;
}