body {
    background-image: url(bg1.png);
    background-color:  #eee;
}

.header {
    text-align: center;
    font-size: 25px;
}

.news {
    text-align: center;
    font-size: 25px;
}

.bg1 {
    z-index: 1;
}

#footer{
	border-bottom: 1px #ccc solid;
	margin-bottom: 5px;
}
	#footer p{
		text-align: center;
		text-transform: uppercase;
		font-size: 80%;
		color: grey;
	}

.cnn {
    text-align: center;
    font-size: 100px;    
}

a:link, a:visited, a:active {
    color: white;
}

.cnn a:link, .cnn a:visited, .cnn a:active {
    color: Black;
}

.head {
    color: #61BD6D;
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
}

.main {
    position: absolute;
    text-align: center;
    top: 20%;
    width: 100%;
    height: 50%;
}

.main {
    font-size: 70px;
    
}

.para {
    color: #61BD6D;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
}

.new {
    text-align: center;
    font-size: 25px;
}

.launcherpage {
    top: 10%;
    text-align: center;
}

.home {
    top: 10%;
    text-align: center;
}

.down {
    float: left;
    text-align: center;
    font-size: 70px;
}

.down1 {
    float: right;
    font-size: 70px;  
}